extends layout 

block content
  h1 #{title}
  form(method='POST', action='/employees/edit/'+employee._id)
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=employee.name)
    #form-group
      label Salary:
      input.form-control(name='salary', type='text', value=employee.salary)
    #form-group
      label Designation:
      textarea.form-control(name='designation')= employee.designation
    br
    input.btn.btn-primary(type='submit',value='Submit')
